FORMAT: 1A
HOST: http://polls.addtask.org/

# VaibhSingh

Polls is a simple API allowing consumers to view polls and vote in them.

## Questions Collection [/questions]

### List All Questions [GET]

+ Response 200 (application/json)

        [
            {
                "question": "task performed",
                "published_at": "2015",
                "choices": [
                    {
                        "choice": "vaccum",
                        "votes": 20
                    }, {
                        "choice": "mop",
                        "votes": 10
                    }, {
                        "choice": "clean",
                        "votes": 5
                    }, {
                        "choice": "refill",
                        "votes": 25
                    }
                ]
            }
        ]

### Create a New Question [POST]

You may create your own question using this action. It takes a JSON
object containing a question and a collection of answers in the
form of choices.

+ Request (application/json)

        {
            "question": "task performed",
            "choices": [
                "vaccum",
                "mop",
                "clean",
                "refill"
            ]
        }

+ Response 201 (application/json)

    + Headers

            Location: /questions/2

    + Body

            {
                "question": "task performed",
                "published_at": "2015",
                "choices": [
                    {
                        "choice": "vaccum",
                        "votes": 0
                    }, {
                        "choice": "mop",
                        "votes": 0
                    }, {
                        "choice": "clean",
                        "votes": 0
                    }, {
                        "choice": "refill",
                        "votes": 0
                    }
                ]
            }